.stock-ticker-container {
  padding-bottom: 10px;
}

.stock-ticker {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
}

.stock-item {
  display: inline-block;
  min-width: 100px;
  padding: 0 10px;
  font-size: 10px;
  text-align: center;
}

.stock-symbol {
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
}

/* Handle changePercent and change together */
.stock-change-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  margin-top: 1px;
  justify-content: center;
  flex-wrap: nowrap;
}

.arrow {
  font-size: 9px;
  margin-right: 2px;
}

.stock-change-percent {
  margin-right: 5px;
  width: 100%;
}

.stock-change.positive {
  color: green;
}

.stock-change.negative {
  color: red;
}

.stock-change.zero {
  color: white;
}
