:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: gray;
}

h1 {
  text-align: center;
}

.donut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  margin: 0 auto;
}

.donut-chart {
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: var(--white);
}
